*{
    margin: 0;
    padding: 0;
}
/*...........................................topnavigationbar..................................*/
.topnav{
    padding: 1%;
    box-sizing: border-box;
    box-shadow: 0px 2px 20px 0px rgb(214, 212, 212);
}
ul{
    display: flex;
    justify-content: flex-end;
    list-style: none;
    gap: 2%;
    font-size: 1.2em;
    padding-right: 15%;
}
a{
    text-decoration: none;
    color: rgb(101, 101, 101);
}
/*............................................main................................................*/
main{
    display: flex;
    align-items: center;
}
/* .section-first{
    display: flex;
    flex-direction: row;
} */
.main-items{
    /* margin-top: 100px; */
}
.principal{
    padding-left: 30%;
    padding-top: 18%;
    padding-bottom: 25%;
}
.holasoy{
    font-size: 2em;
    font-weight: bolder;
}
.nombre-grande{
    font-size: 3.5em;
    color: rgb(107, 167, 187);
}
.profesion{
    font-size: 1.3em;
    color: rgb(132, 129, 129);
    padding-bottom: 40px;
    padding-top: 10px;
}
.boton-loquehago{
    padding: 15px;
    border-radius: 10px;
    display: flex;
    justify-content: left;
    align-items: center;
}
.link-loquehago{
    display: flex;
    background-color: lightblue;
    padding: 20px;
    border-radius: 10px;
}
.iconandroid{
    display: flex;
    justify-content: flex-start;
    font-size: 400px;
    margin: 0px 100px 0px 0px;
}
/*...........................................sección2........................................*/
.misconocimientos{
    font-size: 3.5em;
    margin-top: 150px;
    margin-bottom: 20px;
}
.quote{
    color: rgb(89, 89, 89);
}
.my-knowledge{
    display: flex;
    /* margin-top: 80px; */
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(241, 241, 241);
}
.contenedoricon{
    width: 110px;
    margin: 5% 10%;
    /* margin-bottom: -15%; */
    background-color: white;
    padding: 20%;
}
.skillgrid-first{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}
.iconohtml{
    font-size: 110px;
}
.iconocss{
    font-size: 110px;
}
.iconosass{
    font-size: 110px;
}
.skillgrid-second{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 110px;
    /* padding-top: 90px; */
}
.iconojavascript{
    font-size: 100px;
}
.iconoreact{
    font-size: 110px;
}
.iconogit{
    font-size: 110px;
}
/*...........................................Quote..............................................*/
.frase-desmotivaciones{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(110, 177, 243);
}
.secondquote{
    font-size: 3.5em;
    margin-top: 100px;
    margin-bottom: 30px;
}
.fraserandom{
    font-size: 1.2em;
    color: rgb(34, 34, 34);
}
.alguien{
    font-size: 2.0em;
    margin: 30px 0px 110px 0px;
    /* color: rgb(48, 48, 48); */
}
/*...............................................MisProyectos.....................................*/
.misproyectos{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.fraseproyecto{
    margin-bottom: 1500px;
}
.contenedorboton{
    padding: 90px;
    background-color: rgb(192, 190, 190);
    border-radius: 5%;
}

